@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}
.container {
  width: 100%;
}

