.getstarted {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 5rem;
  padding-bottom: 1rem;
  margin-bottom: 15rem;
  width: 100%;
  max-width: 1500px;
}
.getstarted h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}
.getstarted p {
  font-size: 2rem;
}
.getstarted button {
  margin-top: 1.5rem;
  color: white;
  background-color: hsl(0, 0%, 75%);
  font-size: 20px;
  border: none;
  border-radius: 25px;
  padding: 0.8rem 2rem;
  cursor: pointer;
  outline: none;
}
.getstarted img {
  width: 100%;
  max-width: 500px;
}
@media (max-width: 1024px) {
  .getstarted {
    width: 100%;
    flex-direction: column;
    align-self: center;
    margin-bottom: 6rem;
  }
  .getstarted h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .getstarted p {
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  .getstarted {
    margin-bottom: 2rem;
    padding-top: 0rem;
  }

  .getstarted h1 {
    font-size: 2rem;
    margin-bottom: 1.6rem;
  }

  .getstarted img {
    width: 400px;
  }
  .getstarted p {
    font-size: 1.3rem;
  }

  .getstarted button {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .getstarted h1 {
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
  }

  .getstarted img {
    width: 300px;
    padding: 2rem;
  }
  .getstarted p {
    font-size: 1rem;
  }

  .getstarted button {
    font-size: 0.8rem;
  }
}
